<body>
    <section class="Best-sellers">
    <div class="Best"><h1>Best Sellers </h1></div>
    <div class="card-container">
        
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>Chicken Manchuria</span> will have you clucking for more! Get ready to wok and roll with this hilarious twist on a classic dish.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/manchuria.jpeg" alt="">

        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span> burgers </span> are so juicy, they make other burgers jealous. Get ready to have a bun-dle of fun with our mouthwatering burger creations!</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/burger.jpeg" alt="">
        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span> noodles</span> are so good, they'll have you saying "pastably the best ever!" Get ready to carb-load and noodle-doodle your way to happiness with our delicious noodle dishes.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/maggi.jpeg" alt="">
        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>shawarma</span> is so tasty, it's a wrap battle between your taste buds! Get ready to have a pita-licious experience with our flavorful and fun-filled shawarma offerings.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/Shawama 2.jpeg" alt="">
        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>chicken dum biryani</span> is so delicious, it's like a party in your mouth with every bite! Get ready to spice up your life and your taste buds with our finger-licking good biryani.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/biryani.jpeg" alt="">

        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>Thaali</span> is so generous, it's like getting a hug from your grandma's cooking! Get ready to dive into a delicious feast that will make your stomach and your heart full.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/Thali.jpeg" alt="">
        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>gulab jamun</span> is so sweet, it's like a sugar rush in every bite! Get ready to indulge in these little balls of happiness that will have you saying "jamun, jamun, thank you ma'am!"</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/gulab jamun.jpg" alt="">

        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span> gajar ka halwa</span> is so good, it's like a carrot-y explosion of flavor in your mouth! Get ready to have your taste buds dancing with joy as you indulge in this sweet and satisfying dessert.</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/Gajar-Ka-Halwa-2.jpeg" alt="">

        </div>
        <div class="card-hover">
            <div class="card-hover__content">
                <h3 class="card-hover__title">
                    Make your <span>choice</span> right now!
                </h3>
                <h4 class="card-hover__text">Our <span>kebabs</span> are so flavorful, they’re like a taste explosion in every bite! Get ready to savor these skewered delights that will have you saying, ‘Kebab, kebab, thank you, chef!</h4>
                <a href="#" class="card-hover__link">
                    <span>Learn How</span>
                    <svg fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3" />
                    </svg>
                </a>
            </div>
            <div class="card-hover__extra">
                <h4>Learn <span>now</span> and get <span>40%</span> discount!</h4>
            </div>
            <img src="/assets/images/kebab.jpg" alt="">
        </div>
        <!-- Repeat the above card structure 7 more times -->
    </div>
    </section>
</body>
