<!-- register.component.html -->
<div class="card-back">
    <div class="center-wrap">
      <div class="section text-center">
        <h4 class="mb-4 pb-3">Register</h4>
        <div class="form-group">
          <input type="text" name="logname" class="form-style" placeholder="Your Full Name" id="logname" autocomplete="off">
          <i class="input-icon uil uil-user"></i>
        </div>	
        <div class="form-group mt-2">
          <input type="email" name="logemail" class="form-style" placeholder="Your Email" id="logemail" autocomplete="off">
          <i class="input-icon uil uil-at"></i>
        </div>	
        <div class="form-group mt-2">
          <input type="password" name="logpass" class="form-style" placeholder="Your Password" id="logpass" autocomplete="off">
          <i class="input-icon uil uil-lock-alt"></i>
        </div>
        <div class="form-group">
          <input type="location" name="location" class="form-style" placeholder="Your Location" id="location" autocomplete="off">
          <i class="input-icon uil uil-user"></i>
        </div>	
        <div class="form-group">
          <input type="text" name="City" class="form-style" placeholder="Your City" id="City" autocomplete="off">
          <i class="input-icon uil uil-user"></i>
        </div>	
        <div class="form-group">
          <input type="text" name="pincode" class="form-style" placeholder="Your Pincode" id="Pincode" autocomplete="off">
          <i class="input-icon uil uil-user"></i>
        </div>	
        <a href="#" class="btn mt-4">submit</a>
        <!-- Login link -->
        <p class="mb-0 mt-4 text-center"><a routerLink="/login" class="link">Already have an account? Log In</a></p>
      </div>
    </div>
  </div>
  