
<div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Log In </span><span>Sign Up</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log"/>
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Log In</h4>
                      <form [formGroup]="loginForm" (ngSubmit)="validateLoginForm()">
                        <div class="form-group">
                          <input type="email" formControlName="logemail" class="form-style" placeholder="Your Email" autocomplete="off">
                          <div *ngIf="loginForm.controls['logemail'].invalid && (loginForm.controls['logemail'].dirty || loginForm.controls['logemail'].touched)">
                            <div *ngIf="loginForm.controls['logemail'].errors?.['required']" class="text-danger">Email is required</div>
                            <div *ngIf="loginForm.controls['logemail'].errors?.['email']" class="text-danger">Please enter a valid email</div>
                          </div>
                          <i class="input-icon uil uil-at"></i>
                        </div> 
                        <div class="form-group mt-2">
                          <input type="password" formControlName="logpass" class="form-style" placeholder="Your Password" autocomplete="off">
                          <div *ngIf="loginForm.controls['logpass'].invalid && (loginForm.controls['logpass'].dirty || loginForm.controls['logpass'].touched)" class="text-danger">
                            <div *ngIf="loginForm.controls['logpass'].errors?.['required']">Password is required</div>
                          </div>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <button type="submit" class="btn mt-4">Submit</button>
                      </form>
                      <p class="mb-0 mt-4 text-center"><a href="#0" class="link">Forgot your password?</a></p>
                    </div>
                    <div id="g_id_onload"
     data-client_id="984286315526-okoa8863dnrc7hevci5ne222pasp1gu9.apps.googleusercontent.com"
     data-context="signin"
     data-login_uri="http://localhost:4200/login/"
     data-auto_select="true"
     data-itp_support="true">
     <re-captcha [(ngModel)]="captchaResponse"></re-captcha>

</div>
                  </div>

                </div>
               
                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Register</h4>
                      <form [formGroup]="registerForm" (ngSubmit)="validateRegisterForm()">
                        <div class="form-group">
                          <input type="text" formControlName="logname" class="form-style" placeholder="Your Full Name" autocomplete="off">
                          <div *ngIf="registerForm.controls['logname'].invalid && (registerForm.controls['logname'].dirty || registerForm.controls['logname'].touched)" class="text-danger">
                            <div *ngIf="registerForm.controls['logname'].errors?.['required']">Name is required</div>
                          </div>
                          <i class="input-icon uil uil-user"></i>
                        </div> 
                        <div class="form-group mt-2">
                          <input type="email" formControlName="regemail" class="form-style" placeholder="Your Email" autocomplete="off">
                          <div *ngIf="registerForm.controls['regemail'].invalid && (registerForm.controls['regemail'].dirty || registerForm.controls['regemail'].touched)">
                            <div *ngIf="registerForm.controls['regemail'].errors?.['required']">Email is required</div>
                            <div *ngIf="registerForm.controls['regemail'].errors?.['email']">Please enter a valid email</div>
                          </div>
                          <i class="input-icon uil uil-at"></i>
                        </div> 
                        <div class="form-group mt-2">
                          <input type="password" formControlName="regpass" class="form-style" placeholder="Your Password" autocomplete="off">
                          <div *ngIf="registerForm.controls['regpass'].invalid && (registerForm.controls['regpass'].dirty || registerForm.controls['regpass'].touched)" class="text-danger">
                            <div *ngIf="registerForm.controls['regpass'].errors?.['required']">Password is required</div>
                          </div>
                          <i class="input-icon uil uil-lock-alt"></i>
                        </div>
                        <div class="form-group">
                          <input type="text" formControlName="location" class="form-style" placeholder="Your Location" autocomplete="off">
                          <div *ngIf="registerForm.controls['location'].invalid && (registerForm.controls['location'].dirty || registerForm.controls['location'].touched)" class="text-danger">
                            <div *ngIf="registerForm.controls['location'].errors?.['required']">Location is required</div>
                          </div>
                          <i class="input-icon uil uil-user"></i>
                        </div> 
                        <div class="form-group">
                          <input type="text" formControlName="City" class="form-style" placeholder="Your City" autocomplete="off">
                          <div *ngIf="registerForm.controls['City'].invalid && (registerForm.controls['City'].dirty || registerForm.controls['City'].touched)" class="text-danger">
                            <div *ngIf="registerForm.controls['City'].errors?.['required']">City is required</div>
                          </div>
                          <i class="input-icon uil uil-user"></i>
                        </div> 
                        <div class="form-group">
                          <input type="text" formControlName="Pincode" class="form-style" placeholder="Your Pincode" autocomplete="off">
                          <div *ngIf="registerForm.controls['Pincode'].invalid && (registerForm.controls['Pincode'].dirty || registerForm.controls['Pincode'].touched)" class="text-danger">
                            <div *ngIf="registerForm.controls['Pincode'].errors?.['required']">Pincode is required</div>
                          </div>
                          <i class="input-icon uil uil-user"></i>
                        </div> 
                        <button type="submit" class="btn mt-4">Submit</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      function handleCaptchaResponse(response) {
          angular.element(document.getElementById('registerComponent'))
              .scope()
              .$ctrl.handleCaptchaResponse(response);
      }
  </script>
  </div>
  